<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <div class="inner-content">
            <p>Copyright &copy; 2022 Knoxpo Shopping Website
          
          - Design: <a rel="nofollow noopener" href="https://www.knoxpo.com/" target="_blank">Knoxpo</a></p>
          </div> -->

          <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Experience Knoxpo</h5>
        
        <div class="app_store">
          <div class="app_icon">
            <img src="../../../assets/images/google-play.png" alt="google_play_icon"/>
          </div>

          <div class="app_icon">
            <img src="../../../assets/images/apple_store.png" alt="google_play_icon" />
          </div>
        </div>

        <div class="social_media_section">
          <h5 class="text-uppercase">Keep in Touch</h5>

          <div class="social_media_icon">
            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="instagram"></a>
            <a href="" class="uk-icon-button" uk-icon="youtube"></a>
          </div>
        </div>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Online Shopping</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Electronics</a>
          </li>
          <li>
            <a href="#!">Jewellery <span class="new_icon">New</span></a>
          </li>
          <li>
            <a href="#!">Men</a>
          </li>
          <li>
            <a href="#!">Women</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Useful Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contact US</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">T&C</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-4 mb-md-0 mb-3">

              
              <div class="product_details">
                <div class="products_refund_details">
                  <img src="../../../assets/images/original.png" alt="original_image"/>
                </div>

               <div class="product_refund_desc">
                <strong>100% Original <p class="desc">guarantee for all products at knoxpo.com </p></strong> 
               </div>
              </div>

              <div class="product_details">
                <div class="products_refund_details">
                  <img src="../../../assets/images/30_days.png" alt="30_days"/>
                </div>

               <div class="product_refund_desc">
                <strong>Return within 30 days <p class="desc">of receiving your order </p></strong> 
               </div>
              </div>
      
            </div>
            <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://www.knoxpo.com/"> Knoxpo.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

        </div>
      </div>
    </div>
  </footer>
