<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col">
           
            <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">

                        <div class="uk-cover-container">
                            <!-- <canvas width="1000" height="1000"></canvas> -->
                            <img src="{{datas.image}}" uk-cover/>
                        </div>
                    </div>
                </div>
                <!-- <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <div class="uk-cover-container">
                            <canvas width="1000" height="1000"></canvas>
                            <img src="../../../assets/images/product_01.jpg" uk-cover/>
                        </div>
                    </div>
                </div> -->
            </div>

            <!-- <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <div class="uk-cover-container">
                            <canvas width="1000" height="1000"></canvas>
                            <img src="../../../assets/images/product_01.jpg" uk-cover/>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <div class="uk-cover-container">
                            <canvas width="1000" height="1000"></canvas>
                            <img src="../../../assets/images/product_01.jpg" uk-cover/>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="col">
           <div class="product_heading">
            <h3 class="product_name">{{datas.title}}</h3>

                <p class="product_desc">{{datas.category}}</p>

                <div class="product_review-top">
                    <div class="product_review-first">
                        <h4 class="review_rate">{{datas.rating.rate}} <span class="fa-rate"><fa-icon [icon]="faStar"></fa-icon></span></h4>
                    </div>
                    <div class="product_review-second">
                        <p class="review_rate_second">{{datas.rating.count}}k Ratings</p>
                    </div>
                </div>

                <div class="product-price-section">
                    <span class="product-price">
                        <strong>$ {{datas.price}}</strong>
                    </span>
                </div>

                <div class="product-selling-price">
                    <span class="product-vat">inclusive of all taxes</span>
                </div>

                <div class="size-container">

                    <p class="size">Select Size</p>
                    <button class="size_button">S</button>
                    <button class="size_button">M</button>
                    <button class="size_button">L</button>
                    <button class="size_button">XL</button>
                    <button class="size_button">XXL</button>
                </div>

                <div class="buy_now">
                    <div class="cart_button">
                            <button type="button" class="cart_button"><span><fa-icon [icon]="faCartShopping"></fa-icon></span> Add to cart</button>
                    </div>
                        <button type="button" class="buy_button"><span class="fa-icon"><fa-icon [icon]="faBagShopping"></fa-icon></span> Buy Now</button>
                </div>

                <div class="meta_info">
                    <p class="meta_details">100% Original Products</p>
                    <p class="meta_details">Pay on delivery might be available</p>
                    <p class="meta_details">Easy 30 days returns and exchanges</p>
                    <p class="meta_details">Try & Buy might be available</p>
                </div>


                <div class="best_price_section">
                    <div class="best_price">
                        <h4 class="price_heading">Best Price: <span class="price_details">$ {{datas.price}}</span></h4>
                    </div>
                </div>


                <div class="product_detail_section">
                    <div class="product_detail">
                        <h3 class="product_heading">Product Details </h3>
                        <p class="prduct_desc">{{datas.description}}</p>
                    </div>
                </div>

                <div class="rating_section">
                    <div class="rating_details">
                        <h3 class="rating_heading">Ratings</h3>
                    </div>
                   
                  
                    <div class="rating_divider">
                        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                            
                                <div class="uk-card uk-card-default uk-card-body">
                                    <div class="rating_data">
                                        <h3 class="rating_heading">{{datas.rating.rate}} <span class="fa-rate"><fa-icon [icon]="faStar"></fa-icon></span></h3> 
    
                                        <h3 class="rating_buyers">{{datas.rating.count}}k Verified Buyers</h3>
                                    </div>
                                </div>
                           
                            <div>
                                <div class="uk-card uk-card-default uk-card-body">
                                    <div class="rating_detail_section">
                                        <div class="index_rating">
                                            <span class="index_ratinglevel">5</span>
                                            <span class="index_ratinglevel-icon"><span class="fa_rated"><fa-icon [icon]="faStar"></fa-icon></span></span>
    
                                            <progress min="0" max="49242" value="29759"  data-rating="5"></progress>
    
                                            <div class="index-count">29759</div>
                                        </div>
                                    </div>
    
                                    <div class="rating_detail_section">
                                        <div class="index_rating">
                                            <span class="index_ratinglevel">4</span>
                                            <span class="index_ratinglevel-icon"><span class="fa_rated"><fa-icon [icon]="faStar"></fa-icon></span></span>
    
                                            <progress min="0" max="49242" value="10783" data-rating="4"></progress>
    
                                            <div class="index-count">10783</div>
                                        </div>
                                    </div>
    
                                    <div class="rating_detail_section">
                                        <div class="index_rating">
                                            <span class="index_ratinglevel">3</span>
                                            <span class="index_ratinglevel-icon"><span class="fa_rated"><fa-icon [icon]="faStar"></fa-icon></span></span>
    
                                            <progress min="0" max="49242" value="4289" data-rating="3"></progress>
    
                                            <div class="index-count">4289</div>
                                        </div>
                                    </div>
    
                                    <div class="rating_detail_section">
                                        <div class="index_rating">
                                            <span class="index_ratinglevel">2</span>
                                            <span class="index_ratinglevel-icon"><span class="fa_rated"><fa-icon [icon]="faStar"></fa-icon></span></span>
    
                                            <progress min="0" max="49242" value="1512" data-rating="2"></progress>
    
                                            <div class="index-count">1512</div>
                                        </div>
                                    </div>
    
                                    <div class="rating_detail_section">
                                        <div class="index_rating">
                                            <span class="index_ratinglevel">1</span>
                                            <span class="index_ratinglevel-icon"><span class="fa_rated"><fa-icon [icon]="faStar"></fa-icon></span></span>
    
                                            <progress min="0" max="49242" value="2899" data-rating="1"></progress>
    
                                            <div class="index-count">2899</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    

                </div>
        </div>
        
        
</div>
</div>

<app-footer></app-footer>