.uk-column-divider{
    margin-top: 20px;
}

.product_image{
    margin-bottom: 10px;
    
    .img{
        border-radius: 10px;
    }
}

.uk-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// .uk-grid-small{
//     margin-top: 20px;
// }

.col{
    margin-top: 20px;
}

.uk-card-default{
    box-shadow: none;
    padding: 0px;
}

.uk-cover-container{
    // width: 100%;
    // height: 100%;
    cursor: pointer;

    width: 500px;
    height: 500px;

    margin-top: 50px;
    .img{
        
       width: 100%;
       height: 100%;
    }
    
}


.product_heading{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .product_name{
        color: #282c3f;
        font-size: 25px;
        font-weight: 600;
    }

    .product_desc{
        color: #535665;
        font-size: 20px;
        font-weight: 400;
        opacity: .8;
        margin: 0px;
        margin-bottom: 10px;
        text-transform: capitalize;
        
    }

    .product_review-top{
        width: 170px;
       

        min-height: 32px !important;
        border: 1px solid #eaeaec;
        

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:hover{
            border: 1px solid black;  
        }

        .product_review-first{
            width: 40%;
            height: 100%;
            border: 1px solid #eaeaec;
         
          

            .review_rate{
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                color: #282c3f;
                text-align: center;
                padding: 3px;

                .fa-rate{
                    color: #03a685;
                    margin-left: 1px;
                    
                }
            }
        }

        .product_review-second{
            width: 60%;
            height: 100%;
            border: 1px solid #eaeaec;
            text-align: center;
            padding: 3px;

         
          

        }
    }

  #border{
    border-bottom: 1px solid black;
  }

  .product-price-section{
    color: #696e79;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .product-price{
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;

    .strong{
        color: #282c3f;
        font-weight: 500;
    }
  }

  .product-selling-price{
    font-size: 16px;
    margin: 0 0 10px;

    .product-vat{
        color: #03a685;
        font-weight: 500;
        font-size: 14px;
        display: block;
        margin: 5px 10px 0 0;
    }
}

.size-container{
    width: 100%;
    height: 100%;

    .size{
        // display: inline-block;
        font-size: 16px;
        // margin-bottom: 10px;
        font-weight: 500;
    }

    .size_button{
        background-color: #fff;
        border: 1px solid #bfc0c6;
        border-radius: 50px;
        padding: 0;
        min-width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
        color: #282c3f;
        margin-right: 10px;

        &:hover{
            border: 1px solid #ff3e6c;
        }

    }
}

.buy_now{
    padding: 0;
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    .cart_button{
        font-weight: 500;
        cursor: pointer;
        background-color: #ff3e6c;
        border: 1px solid #ff3e6c;
        color: #fff;
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        text-align: center;
        width: 100%;
        // margin-right: 3%;
        margin-right: 10px;
        padding: 10px;

        text-transform: uppercase;

        .fa-icon{
            margin-right: 10px;
        }
    }


        .buy_button{
            font-weight: 500;
            cursor: pointer;
            border: 1px solid #d4d5d9;
            background-color: #fff;
            color: #fff;
            -webkit-box-flex: 3;
            -ms-flex: 3;
            flex: 3;
            text-align: center;
            width: 100%;
            // margin-right: 3%;
            margin-right: 10px;
            padding: 10px;

            height: 100%;
    
            font-weight: 500;
            cursor: pointer;
            letter-spacing: .4px;
            color: #282c3f;
    
            text-transform: uppercase;

            &:hover{
                border: 1px solid black;
            }

            .fa-icon{
                margin-right: 10px;
            }
        }

}

    .meta_info{
 

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        margin-top: 20px;

        margin-bottom: 10px;

        border-bottom: 1px solid #d4d5d9;
        width: 100%;

        .meta_details{
            display: inline-block;
            width: 100%;
            vertical-align: top;

            color: #282c3f;
            font-size: 16px;

            margin: 5px 0px;
          }
        }

        .best_price_section{
            width: 100%;
            height: 100%;

            margin-top: 20px;

            .best_price{
                margin: 0px;

                .price_heading{
                    color: #282c3f;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 18px;

                    .price_details{
                        color: #ff905a;
                        font-weight: 600;
                        font-size: 18px;
                      }

                 
                    }
                }
            }

            .product_detail_section{
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;

                border-bottom: 1px solid #d4d5d9;

                margin-bottom: 10px;

                .product_detail{
                    margin: 0px;

                    .product_heading{
                        color: #282c3f;
                        font-size: 20px;
                        font-weight: 600;
                        margin: 0px;

                        .fa-icon{
                            margin-right: 10px;
                        }
                    }

                    .product_desc{
                        color: #282c3f;
                        
                        font-size: 16px;
                        margin-top: 12px;
                        width: 84%;
                    }
                }
                }

                .rating_section{
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .rating_details{
                        margin: 0px;
                    }

                    .rating_heading{
                        color: #282c3f;
                        font-size: 20px;
                        font-weight: 600;
                        margin: 0px;

                        .fa-rate{
                            color: #03a685;
                            margin-left: 1px;
                            
                        }
  
                    }

                   .rating_divider{
                    width: 100%;
                    height: 100%;

                    margin-top: 30px;

                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .uk-card{
                        width: 300px;

                    }
                    .uk-card-default{
                        box-shadow: none !important;
                    }

                    .rating_data{
                        width: 100%;
                        height: 100%;


                        .rating_heading{
                            font-size: 40px;
                            color: #282c3f;
                            font-weight: 200;
                            padding: 10px;
    
                            .rating_stars{
                                width: 24px !important;
                                height: 24px !important;
                            }
                            }

                            .rating_buyers{
                                margin-top: 12px;
                                font-size: 14px;
                                font-weight: 400;
                                color: #282c3f;
                            }
                    }
                    .rating_detail_section{
                        display: flex;

                        .index_rating{

                            display: flex;
                            font-size: 14px;
                            color: #a9abb3;

                            progress[data-rating="5"]{
                                background: #14958f;
                            }

                            progress[data-rating="4"]{
                                background: #14958f;
                            }

                            progress[data-rating="3"]{
                                background: #72bfbc;
                            }

                            progress[data-rating="2"]{
                                background: #fcb301;
                            }

                            progress[data-rating="1"]{
                                background: #f16565;
                            }

                            progress{
                                border: none;
                                margin-top: 6px;
                                width: 120px;
                                height: 4px;
                                background: #f5f5f6;
                                margin-right: 5px;
                            }

                            .index_ratinglevel{
                                font-size: 14px;
                                color: #a9abb3;
                                margin-right: 5px;
                              }

                              .index_ratinglevel-icon{
                                font-size: 14px;
                                color: #a9abb3;
                                margin-right: 5px;

                                .fa_rated{
                                    margin-right: 5px;
                                }
                                
                              }

                              .index-count{
                                font-size: 12px;
                                color: #282c3f;
                                margin-left: 9px;
                              }
                              }
                            }
                        }
                    }
                   

                    }

            @media screen and (max-width:1366px) and (min-width:768px) {

                
                       
            }
                    
            @media screen and (max-width:1536px) and (min-width:864px) {

                
                       
                      }
                    
            @media screen and (max-width:768px) and (min-width:590px) {
                .uk-cover-container{
                    // width: 100%;
                    // height: 100%;
                    cursor: pointer;
                
                    width: 500px;
                    height: 500px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                    
                    .img{
                        
                       width: 100%;
                       height: 100%;
                    }
                    
                }

                .product_heading{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center ;

                    .product_name{
                        text-align: center;
                    }

                    .size-container{
                        

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    
                        .size{
                            // display: inline-block;
                            font-size: 16px;
                            // margin-bottom: 10px;
                            font-weight: 500;
                            text-align: center;
                            
                        }
                    
                        .size_button{
                            
                            background-color: #fff;
                            border: 1px solid #bfc0c6;
                            border-radius: 50px;
                            padding: 0;
                            min-width: 50px;
                            height: 50px;
                            text-align: center;
                            cursor: pointer;
                            color: #282c3f;
                            margin-right: 10px;
                    
                            &:hover{
                                border: 1px solid #ff3e6c;
                            }
                    
                        }

                        .buy_now{
                            padding: 0;
                            width: 60%;
                        
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        
                            margin-top: 20px;
                        
                            .cart_button{
                                font-weight: 500;
                                cursor: pointer;
                                background-color: #ff3e6c;
                                border: 1px solid #ff3e6c;
                                color: #fff;
                                -webkit-box-flex: 3;
                                -ms-flex: 3;
                                flex: 3;
                                text-align: center;
                                width: 100%;
                                // margin-right: 3%;
                                margin-right: 10px;
                                padding: 10px;
                        
                                text-transform: uppercase;
                        
                                .fa-icon{
                                    margin-right: 10px;
                                }
                            }
                        
                        }

                        .meta_info{
 

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                    
                            margin-top: 20px;
                    
                            margin-bottom: 10px;
                    
                            border-bottom: 1px solid #d4d5d9;
                            width: 100%;
                    
                            .meta_details{
                                // display: inline-block;
                                width: 100%;
                                vertical-align: top;
                    
                                color: #282c3f;
                                font-size: 16px;
                    
                                margin: 5px 0px;
                                text-align: center;
                              }
                            }
                    }

                    .best_price_section{
                        width: 100%;
                        height: 100%;
            
                        margin-top: 20px;
            
                        .best_price{
                            margin: 0px;
            
                            .price_heading{
                                color: #282c3f;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600;
                                font-size: 18px;
            
                                .price_details{
                                    color: #ff905a;
                                    font-weight: 600;
                                    font-size: 18px;
                                    text-align: center;
                                  }
            
                             
                                }
                            }
                        }

                        .rating_section{
                            width: 100%;
                            height: 100%;
        
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
        
                            .rating_details{
                                margin: 0px;
                            }
        
                            .rating_heading{
                                color: #282c3f;
                                font-size: 20px;
                                font-weight: 600;
                                margin: 0px;
        
                                .fa-rate{
                                    color: #03a685;
                                    margin-left: 1px;
                                    
                                }
          
                            }
        
                           .rating_divider{
                            width: 100%;
                            height: 100%;
        
                            margin-top: 30px;
        
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: flex-start;
        
                            .uk-card{
                                width: 300px;
        
                            }
                            .uk-card-default{
                                box-shadow: none !important;
                            }
        
                            .rating_data{
                                width: 100%;
                                height: 100%;
        
        
                                .rating_heading{
                                    font-size: 40px;
                                    color: #282c3f;
                                    font-weight: 200;
                                    padding: 10px;
                                   
            
                                    .rating_stars{
                                        width: 24px !important;
                                        height: 24px !important;
                                    }
                                    }
        
                                    .rating_buyers{
                                        margin-top: 12px;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #282c3f;
                                    }
                            }
                            .rating_detail_section{
                                display: flex;
        
                                .index_rating{
        
                                    display: flex;
                                    font-size: 14px;
                                    color: #a9abb3;
        
                                    progress[data-rating="5"]{
                                        background: #14958f;
                                    }
        
                                    progress[data-rating="4"]{
                                        background: #14958f;
                                    }
        
                                    progress[data-rating="3"]{
                                        background: #72bfbc;
                                    }
        
                                    progress[data-rating="2"]{
                                        background: #fcb301;
                                    }
        
                                    progress[data-rating="1"]{
                                        background: #f16565;
                                    }
        
                                    progress{
                                        border: none;
                                        margin-top: 6px;
                                        width: 120px;
                                        height: 4px;
                                        background: #f5f5f6;
                                        margin-right: 5px;
                                    }
        
                                    .index_ratinglevel{
                                        font-size: 14px;
                                        color: #a9abb3;
                                        margin-right: 5px;
                                      }
        
                                      .index_ratinglevel-icon{
                                        font-size: 14px;
                                        color: #a9abb3;
                                        margin-right: 5px;
        
                                        .fa_rated{
                                            margin-right: 5px;
                                        }
                                        
                                      }
        
                                      .index-count{
                                        font-size: 12px;
                                        color: #282c3f;
                                        margin-left: 9px;
                                      }
                                      }
                                    }
                                }
                            }
                    
                }
            }
                    
            @media screen and (max-width:590px) and (min-width:280px) {

                .uk-cover-container{
                    // width: 100%;
                    // height: 100%;
                    cursor: pointer;
                
                    width: 500px;
                    height: 500px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                    
                    .img{
                        
                       width: 100%;
                       height: 100%;
                    }
                    
                }

                .product_heading{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center ;

                    .product_name{
                        text-align: center;
                    }

                    .size-container{
                        

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    
                        .size{
                            // display: inline-block;
                            font-size: 16px;
                            // margin-bottom: 10px;
                            font-weight: 500;
                            text-align: center;
                            
                        }
                    
                        .size_button{
                            
                            background-color: #fff;
                            border: 1px solid #bfc0c6;
                            border-radius: 50px;
                            padding: 0;
                            min-width: 50px;
                            height: 50px;
                            text-align: center;
                            cursor: pointer;
                            color: #282c3f;
                            margin-right: 10px;
                    
                            &:hover{
                                border: 1px solid #ff3e6c;
                            }
                    
                        }

                        .buy_now{
                            padding: 0;
                            width: 60%;
                        
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        
                            margin-top: 20px;
                        
                            .cart_button{
                                font-weight: 500;
                                cursor: pointer;
                                background-color: #ff3e6c;
                                border: 1px solid #ff3e6c;
                                color: #fff;
                                -webkit-box-flex: 3;
                                -ms-flex: 3;
                                flex: 3;
                                text-align: center;
                                width: 100%;
                                // margin-right: 3%;
                                margin-right: 10px;
                                padding: 10px;
                        
                                text-transform: uppercase;
                        
                                .fa-icon{
                                    margin-right: 10px;
                                }
                            }
                        
                        }

                        .meta_info{
 

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                    
                            margin-top: 20px;
                    
                            margin-bottom: 10px;
                    
                            border-bottom: 1px solid #d4d5d9;
                            width: 100%;
                    
                            .meta_details{
                                // display: inline-block;
                                width: 100%;
                                vertical-align: top;
                    
                                color: #282c3f;
                                font-size: 16px;
                    
                                margin: 5px 0px;
                                text-align: center;
                              }
                            }
                    }

                    .best_price_section{
                        width: 100%;
                        height: 100%;
            
                        margin-top: 20px;
            
                        .best_price{
                            margin: 0px;
            
                            .price_heading{
                                color: #282c3f;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-weight: 600;
                                font-size: 18px;
            
                                .price_details{
                                    color: #ff905a;
                                    font-weight: 600;
                                    font-size: 18px;
                                    text-align: center;
                                  }
            
                             
                                }
                            }
                        }

                        .rating_section{
                            width: 100%;
                            height: 100%;
        
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
        
                            .rating_details{
                                margin: 0px;
                            }
        
                            .rating_heading{
                                color: #282c3f;
                                font-size: 20px;
                                font-weight: 600;
                                margin: 0px;
        
                                .fa-rate{
                                    color: #03a685;
                                    margin-left: 1px;
                                    
                                }
          
                            }
        
                           .rating_divider{
                            width: 100%;
                            height: 100%;
        
                            margin-top: 30px;
        
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: flex-start;
        
                            .uk-card{
                                width: 300px;
        
                            }
                            .uk-card-default{
                                box-shadow: none !important;
                            }
        
                            .rating_data{
                                width: 100%;
                                height: 100%;
        
        
                                .rating_heading{
                                    font-size: 40px;
                                    color: #282c3f;
                                    font-weight: 200;
                                    padding: 10px;
                                   
            
                                    .rating_stars{
                                        width: 24px !important;
                                        height: 24px !important;
                                    }
                                    }
        
                                    .rating_buyers{
                                        margin-top: 12px;
                                        font-size: 14px;
                                        font-weight: 400;
                                        color: #282c3f;
                                    }
                            }
                            .rating_detail_section{
                                display: flex;
        
                                .index_rating{
        
                                    display: flex;
                                    font-size: 14px;
                                    color: #a9abb3;
        
                                    progress[data-rating="5"]{
                                        background: #14958f;
                                    }
        
                                    progress[data-rating="4"]{
                                        background: #14958f;
                                    }
        
                                    progress[data-rating="3"]{
                                        background: #72bfbc;
                                    }
        
                                    progress[data-rating="2"]{
                                        background: #fcb301;
                                    }
        
                                    progress[data-rating="1"]{
                                        background: #f16565;
                                    }
        
                                    progress{
                                        border: none;
                                        margin-top: 6px;
                                        width: 120px;
                                        height: 4px;
                                        background: #f5f5f6;
                                        margin-right: 5px;
                                    }
        
                                    .index_ratinglevel{
                                        font-size: 14px;
                                        color: #a9abb3;
                                        margin-right: 5px;
                                      }
        
                                      .index_ratinglevel-icon{
                                        font-size: 14px;
                                        color: #a9abb3;
                                        margin-right: 5px;
        
                                        .fa_rated{
                                            margin-right: 5px;
                                        }
                                        
                                      }
        
                                      .index-count{
                                        font-size: 12px;
                                        color: #282c3f;
                                        margin-left: 9px;
                                      }
                                      }
                                    }
                                }
                            }
                    
                }

                
                        
            }




