
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>

                <div class="signup-section">
                    <div class="signup-data">

                       
                        <div class="uk-margin">
                            <div class="header_image">
                                <canvas height="20" width="20"></canvas>
                                <img src="../../../assets/images/logo.png" alt="logo" width="200" height="200"/>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" placeholder="First and last name">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input class="uk-input" type="email" placeholder="enter email">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: phone"></span>
                                <input class="uk-input" type="number" placeholder="enter phone">
                            </div>
                        </div>
                
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="password" placeholder="At least 6 characters">
                            </div>
                            <p>Already have an account? <button class="sign-in-button" (click)="gotoPage()">Sign In</button></p>
                        </div>

                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary" (click)="gotoPage()">Create an account</button>
                        </div>
                    </div>
              
                </div>
            </form>

            
        </div>
</div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>



