.uk-card {
    cursor: pointer;
}

// .uk-cover-container {
//     img {
//         max-height: fit-content;
//     }
// }

.uk-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;

    position: relative;

    .price_section {
        width: 100%;
        position: relative;
        min-height: 100px;

        .uk-card-title {
            font-size: 14px;
            text-align: left;
            color: black;
            font-weight: 600;
            margin-top: 0px;

            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .uk-card-title-price{
            font-size: 20px;
            color: #282c3f;
            font-weight: 600;
            text-align: left;
            margin-top: 0px;

            position: absolute;
            top: 65px;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .rating{
          
            width: 170px;
       

            height: 33px;
            border: 1px solid #eaeaec;
            
    
            display: flex;
            position: absolute;
            right: 0px;
            bottom: 5px;

            &:hover{
                border: 1px solid black;  
            }

          .rating-first{
            width: 40%;
            height: 100%;
            border: 1px solid #eaeaec;

            
            .review_rate{
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                color: #282c3f;
                text-align: center;
                padding: 3px;

                .fa-rate{
                    color: #03a685;
                    margin-left: 1px;
                    height: 10px;
                    
                }
            }
        
          }

          .rating_second{
            width: 60%;
            height: 100%;
            border: 1px solid #eaeaec;
            text-align: center;
            padding: 3px;

         
          

        }
        }
    }

}

.brand_image{
    padding: 10px;

    .brand_images{
        width: 100%;
        height: 100%;
    }
}

.buy_section {
    width: 100%;
    height: 100%;

    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;

    // bottom: 10px;
    // left: 10px;

    

    .quick_buy{
        margin-right: 20px;
        border: 1px solid #f33f3f;
        text-transform: uppercase;
        padding: 5px;
        width: 100%;
        height: 100%;

        font-size: 12px;
        font-weight: 600;

        background-color: #f33f3f;
        border-radius: 10px;

        color: white;


        
        

        &:hover{
            border: 1px solid black;
        }

        .fa-icon{
            margin-right: 3px;
        }
    }
}

.best-features{
   .container{
    .row{
        padding-bottom: 0px;
    }
   }
}

.section-heading{
    width: 100%;
    height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

       .top_header{
        margin: 0px;
       }

    .heading{
        float: left;
    }

    .dropdown{
        float: right;

        .grid_details{
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
            margin-right: 10px;

            .fa{
                margin-right: 10px;
            }
        }
    }
}


.uk-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 12px;
    margin-right: 10px;

}

.uk-cover-container{
    width: 250px;
    max-height: auto;

    margin-left: 50px;
  

    .card-image{
        max-width: 100%;
       max-height: 100%;
    }

    .brand-image{
        max-width: 100%;
       max-height: 100%;
    }
}

.limitTextHeight {
    height: 20px;
    overflow: hidden;
}

@media screen and (max-width:1366px) and (min-width:768px) {
    .uk-cover-container{
        width: 250px;
        max-height: auto;
    
        margin-left: 250px;
      
    
        .card-image{
            max-width: 100%;
           max-height: 100%;
        }
    
        .brand-image{
            max-width: 100%;
           max-height: 100%;
        }
    }
  }

  @media screen and (max-width:1536px) and (min-width:864px) {
    .uk-cover-container{
        width: 250px;
        max-height: auto;
    
        margin-left: 100px;
      
    
        .card-image{
            max-width: 100%;
           max-height: 100%;
        }
    
        .brand-image{
            max-width: 100%;
           max-height: 100%;
        }
    }
  }

  @media screen and (max-width:768px) and (min-width:590px) {
    .uk-cover-container{
        width: 250px;
        max-height: auto;
    
        margin-left: 150px;
      
    
        .card-image{
            max-width: 100%;
           max-height: 100%;
        }
    
        .brand-image{
            max-width: 100%;
           max-height: 100%;
        }
    }
  }

  @media screen and (max-width:590px) and (min-width:280px) {
    .uk-cover-container{
        width: 250px;
        max-height: auto;
    
        margin-left: 120px;
      
    
        .card-image{
            max-width: 100%;
           max-height: 100%;
        }
    
        .brand-image{
            max-width: 100%;
           max-height: 100%;
        }
    }
    
  }



